## Updated Code for Implementing VAR Model

In [1]:
# load modules
import numpy as np
import pandas as pd
import pmdarima as pm
import statsmodels.api as sm
from sktime.transformations.series.difference import Differencer
from sktime.performance_metrics.forecasting import mean_absolute_error, MeanAbsoluteError
from sktime.forecasting.var import VAR
from data_protection_functions import *
from data_processing_functions import *
from forecasting_functions import *
# nice time series plots
from sktime.utils.plotting import plot_series
from sktime.forecasting.model_selection import ForecastingGridSearchCV, ExpandingWindowSplitter, SlidingWindowSplitter
from sktime.forecasting.compose import TransformedTargetForecaster

In [2]:
# import weekly finance time series
# ignore header and skip the first row to use integers as column names
full_data = pd.read_csv("../../Data/Train/Clean/full_m3_monthly_micro_clean.csv", header=None, skiprows=1)

In [3]:
# convert to a list of series, potentially with different lengths
full_data = [x.dropna() for _, x in full_data.iterrows()]

***

In [4]:
# forecast horizon
h = 1

In [5]:
Y = [x.iloc[:-h] for x in full_data]
Test = [x.iloc[-h:] for x in full_data]

## Step 2: Apply Data Protection to Generate Protected Series

In [6]:
temp = difference_to_stationarity(Y)

In [7]:
temp1 = reverse_difference_to_stationarity(temp, Y)

In [8]:
temp1

[1     2160.0
 2     4200.0
 3     3360.0
 4     2400.0
 5     3600.0
        ...
 61    1680.0
 62    3720.0
 63    2160.0
 64     480.0
 65    2040.0
 Name: 0, Length: 65, dtype: float64,
 1      120.0
 2     1080.0
 3      840.0
 4     1440.0
 5      480.0
        ...
 61     840.0
 62     600.0
 63    1320.0
 64    1320.0
 65    2280.0
 Name: 1, Length: 65, dtype: float64,
 1     4860.0
 2     1200.0
 3     3150.0
 4     2130.0
 5     1800.0
        ...
 61    5190.0
 62    5910.0
 63    4800.0
 64    5640.0
 65    5790.0
 Name: 2, Length: 65, dtype: float64,
 1     2040.0
 2      800.0
 3     1000.0
 4      520.0
 5      500.0
        ...
 61    6600.0
 62    8100.0
 63    7760.0
 64    6940.0
 65    8020.0
 Name: 3, Length: 65, dtype: float64,
 1      4450.0
 2      3050.0
 3      3050.0
 4      2250.0
 5      2200.0
        ...
 61    10000.0
 62    10950.0
 63    10700.0
 64     8800.0
 65     7550.0
 Name: 4, Length: 65, dtype: float64,
 1     1350.0
 2     1500.0
 3     1950.0
 4     1950.0
 5      600.0
        ...
 61    4050.0
 62    1650.0
 63    3150.0
 64     150.0
 65    3900.0
 Name: 5, Length: 65, dtype: float64,
 1     1950.0
 2     2250.0
 3     3000.0
 4     2400.0
 5     3000.0
        ...
 61    5850.0
 62    5100.0
 63    3450.0
 64    3600.0
 65    6000.0
 Name: 6, Length: 65, dtype: float64,
 1     1950.0
 2     4650.0
 3     3900.0
 4     3600.0
 5     3150.0
        ...
 61    4950.0
 62    1650.0
 63    4200.0
 64    2700.0
 65    4800.0
 Name: 7, Length: 65, dtype: float64,
 1     2460.0
 2     3860.0
 3     4640.0
 4     2200.0
 5     1360.0
        ...
 61    2820.0
 62    2280.0
 63    2740.0
 64    1140.0
 65    1900.0
 Name: 8, Length: 65, dtype: float64,
 1     3840.0
 2     5720.0
 3     4960.0
 4     1960.0
 5     3780.0
        ...
 61    3620.0
 62    3820.0
 63    4880.0
 64    2800.0
 65    3640.0
 Name: 9, Length: 65, dtype: float64,
 1     3260.0
 2     3460.0
 3     3000.0
 4     2140.0
 5     2100.0
        ...
 61    2400.0
 62    3420.0
 63    2980.0
 64    1780.0
 65    2800.0
 Name: 10, Length: 65, dtype: float64,
 1     12600.0
 2      5320.0
 3     10720.0
 4       800.0
 5      4640.0
        ...
 61     3540.0
 62     3540.0
 63      120.0
 64     2400.0
 65    14320.0
 Name: 11, Length: 65, dtype: float64,
 1     3950.0
 2     2700.0
 3     6650.0
 4     3700.0
 5     3500.0
        ...
 61    3000.0
 62    2250.0
 63    1650.0
 64    3800.0
 65    6850.0
 Name: 12, Length: 65, dtype: float64,
 1      5400.0
 2      4250.0
 3     10550.0
 4      4700.0
 5      5700.0
        ...
 61     5150.0
 62     4450.0
 63     7000.0
 64     2450.0
 65     9950.0
 Name: 13, Length: 65, dtype: float64,
 1     1780.0
 2     1720.0
 3     6380.0
 4     1320.0
 5     2540.0
        ...
 61    2460.0
 62    1680.0
 63    1340.0
 64     840.0
 65    1860.0
 Name: 14, Length: 65, dtype: float64,
 1     2240.0
 2     1320.0
 3     5880.0
 4     1080.0
 5      820.0
        ...
 61    1440.0
 62    1320.0
 63     800.0
 64     640.0
 65    1220.0
 Name: 15, Length: 65, dtype: float64,
 1     1080.0
 2     1920.0
 3      120.0
 4     1080.0
 5     2040.0
        ...
 61    2040.0
 62    3240.0
 63    4600.0
 64    2520.0
 65    1800.0
 Name: 16, Length: 65, dtype: float64,
 1     2040.0
 2      840.0
 3     1920.0
 4     1080.0
 5     1920.0
        ...
 61    2280.0
 62    4080.0
 63    1680.0
 64    2400.0
 65    2880.0
 Name: 17, Length: 65, dtype: float64,
 1     5350.0
 2     3200.0
 3     4000.0
 4     5000.0
 5     4300.0
        ...
 62    2200.0
 63    2900.0
 64    3900.0
 65    3350.0
 66    1500.0
 Name: 18, Length: 66, dtype: float64,
 1      6950.0
 2      6050.0
 3      6950.0
 4      5650.0
 5     11200.0
        ...
 62     3200.0
 63     4450.0
 64     5350.0
 65     4050.0
 66     3000.0
 Name: 19, Length: 66, dtype: float64,
 1     11500.0
 2     10100.0
 3      7900.0
 4      8900.0
 5     13200.0
        ...
 62     2600.0
 63     6000.0
 64     5100.0
 65     4100.0
 66     2900.0
 Name: 20, Length: 66, dtype: float64,
 1      8100.0
 2      7000.0
 3      4800.0
 4      7900.0
 5     10100.0
        ...
 62     1900.0
 63     3700.0
 64     2600.0
 65     4100.0
 66     4300.0
 Name: 21, Length: 66, dtype: float64,
 1     4935.0
 2     3675.0
 3     3805.0
 4     5260.0
 5     6735.0
        ...
 62    2915.0
 63    3065.0
 64    3600.0
 65    3620.0
 66    2120.0
 Name: 22, Length: 66, dtype: float64,
 1      6750.0
 2      4600.0
 3      5750.0
 4      2350.0
 5     10250.0
        ...
 62      900.0
 63     2500.0
 64     2350.0
 65      850.0
 66     1150.0
 Name: 23, Length: 66, dtype: float64,
 1     2960.0
 2     3358.0
 3     4414.0
 4     4168.0
 5     5384.0
        ...
 62    3404.0
 63    3984.0
 64    3910.0
 65    3784.0
 66    3682.0
 Name: 24, Length: 66, dtype: float64,
 1     3900.0
 2     3550.0
 3     6700.0
 4     6850.0
 5     5250.0
        ...
 62     500.0
 63     850.0
 64    2550.0
 65    3950.0
 66    2850.0
 Name: 25, Length: 66, dtype: float64,
 1     2640.0
 2     2960.0
 3     4860.0
 4     5900.0
 5     6000.0
        ...
 62    2240.0
 63    3780.0
 64    3440.0
 65    2720.0
 66    2400.0
 Name: 26, Length: 66, dtype: float64,
 1     4900.0
 2     5900.0
 3     5500.0
 4     6760.0
 5     8400.0
        ...
 62    3520.0
 63    4280.0
 64    3660.0
 65    3880.0
 66    3300.0
 Name: 27, Length: 66, dtype: float64,
 1     1250.0
 2     2250.0
 3     5850.0
 4     4900.0
 5     4700.0
        ...
 62    6800.0
 63    6950.0
 64    8800.0
 65    6750.0
 66    6300.0
 Name: 28, Length: 66, dtype: float64,
 1       600.0
 2      2400.0
 3      4900.0
 4      3700.0
 5      3400.0
        ...
 62    11000.0
 63     8300.0
 64    12800.0
 65     6800.0
 66    13500.0
 Name: 29, Length: 66, dtype: float64,
 1      8000.0
 2     16100.0
 3      7600.0
 4     14100.0
 5     17400.0
        ...
 62     1600.0
 63     5300.0
 64     4200.0
 65     1900.0
 66     2200.0
 Name: 30, Length: 66, dtype: float64,
 1     10000.0
 2     14400.0
 3      6400.0
 4      8750.0
 5     10450.0
        ...
 62     1850.0
 63     2700.0
 64     4250.0
 65     1150.0
 66     1800.0
 Name: 31, Length: 66, dtype: float64,
 1     3820.0
 2     5260.0
 3     7760.0
 4     7220.0
 5     8180.0
        ...
 62    1540.0
 63    2640.0
 64    2400.0
 65    1400.0
 66    2500.0
 Name: 32, Length: 66, dtype: float64,
 1     3840.0
 2     4740.0
 3     6200.0
 4     2700.0
 5     3140.0
        ...
 62    1880.0
 63    2040.0
 64    2660.0
 65    1140.0
 66    1440.0
 Name: 33, Length: 66, dtype: float64,
 1     4800.0
 2     5750.0
 3     8750.0
 4     4400.0
 5     6450.0
        ...
 62    1350.0
 63    1750.0
 64    2300.0
 65     850.0
 66    2150.0
 Name: 34, Length: 66, dtype: float64,
 1     7650.0
 2     6200.0
 3     8000.0
 4     5550.0
 5     8400.0
        ...
 62    3100.0
 63    6100.0
 64    6800.0
 65    3600.0
 66    5550.0
 Name: 35, Length: 66, dtype: float64,
 1     6250.0
 2     5550.0
 3     7500.0
 4     5200.0
 5     7850.0
        ...
 62    2850.0
 63    3950.0
 64    5500.0
 65    4650.0
 66    2450.0
 Name: 36, Length: 66, dtype: float64,
 1     3950.0
 2     2350.0
 3     4600.0
 4     2600.0
 5     2950.0
        ...
 62    1200.0
 63    2050.0
 64    5200.0
 65    2350.0
 66    2150.0
 Name: 37, Length: 66, dtype: float64,
 1     4140.0
 2     6400.0
 3     5880.0
 4     5280.0
 5     5060.0
        ...
 62    4280.0
 63    4960.0
 64    5420.0
 65    5600.0
 66    6000.0
 Name: 38, Length: 66, dtype: float64,
 1     2400.0
 2     2100.0
 3     6050.0
 4     2100.0
 5     4450.0
        ...
 62    3750.0
 63    3300.0
 64    5600.0
 65    2600.0
 66    3300.0
 Name: 39, Length: 66, dtype: float64,
 1     3920.0
 2     7600.0
 3     8220.0
 4     5100.0
 5     5080.0
        ...
 62    4820.0
 63    5800.0
 64    6420.0
 65    4520.0
 66    4120.0
 Name: 40, Length: 66, dtype: float64,
 1     3900.0
 2     1900.0
 3     5150.0
 4     3350.0
 5     6300.0
        ...
 62    2050.0
 63    5500.0
 64    4650.0
 65    3550.0
 66    3600.0
 Name: 41, Length: 66, dtype: float64,
 1      7600.0
 2      5300.0
 3     11000.0
 4      9200.0
 5     10200.0
        ...
 62     3700.0
 63     7700.0
 64     8000.0
 65     9800.0
 66     6900.0
 Name: 42, Length: 66, dtype: float64,
 1     3500.0
 2     3850.0
 3     9100.0
 4     4400.0
 5     8500.0
        ...
 62    1750.0
 63    5250.0
 64    8650.0
 65    4400.0
 66    5950.0
 Name: 43, Length: 66, dtype: float64,
 1     4330.0
 2     4760.0
 3     3120.0
 4     4640.0
 5     8880.0
        ...
 62     920.0
 63    4130.0
 64    2880.0
 65     630.0
 66    1900.0
 Name: 44, Length: 66, dtype: float64,
 1     3165.0
 2     5255.0
 3     4650.0
 4     4345.0
 5     4965.0
        ...
 62    4620.0
 63    4225.0
 64    5320.0
 65    3695.0
 66    4630.0
 Name: 45, Length: 66, dtype: float64,
 1     3030.0
 2     4970.0
 3     4650.0
 4     5050.0
 5     8660.0
        ...
 62    1040.0
 63    2860.0
 64    1620.0
 65     970.0
 66     350.0
 Name: 46, Length: 66, dtype: float64,
 1     3495.0
 2     3735.0
 3     4800.0
 4     3735.0
 5     5085.0
        ...
 62    4545.0
 63    4590.0
 64    5335.0
 65    4855.0
 66    4365.0
 Name: 47, Length: 66, dtype: float64,
 1     4400.0
 2     3600.0
 3     6060.0
 4     4720.0
 5     4560.0
        ...
 62    2440.0
 63    2080.0
 64    2260.0
 65    1160.0
 66    2060.0
 Name: 48, Length: 66, dtype: float64,
 1     6780.0
 2     4660.0
 3     5400.0
 4     6320.0
 5     7840.0
        ...
 62    3260.0
 63    2980.0
 64    2720.0
 65    2680.0
 66    1720.0
 Name: 49, Length: 66, dtype: float64,
 1     5460.0
 2     5980.0
 3     6440.0
 4     5600.0
 5     9180.0
        ...
 62    5120.0
 63    3680.0
 64    4280.0
 65    5300.0
 66    4640.0
 Name: 50, Length: 66, dtype: float64,
 1     4640.0
 2     6160.0
 3     6980.0
 4     9100.0
 5     9680.0
        ...
 62    5440.0
 63    5940.0
 64    4840.0
 65    5120.0
 66    5380.0
 Name: 51, Length: 66, dtype: float64,
 1     2720.0
 2     4460.0
 3     4910.0
 4     3880.0
 5     4420.0
        ...
 62    3210.0
 63    3510.0
 64    5030.0
 65    3890.0
 66    3920.0
 Name: 52, Length: 66, dtype: float64,
 1     5320.0
 2     6160.0
 3     8520.0
 4     6980.0
 5     7960.0
        ...
 62    5440.0
 63    6440.0
 64    5340.0
 65    6680.0
 66    6140.0
 Name: 53, Length: 66, dtype: float64,
 1     1400.0
 2     1120.0
 3     2920.0
 4     2260.0
 5     2020.0
        ...
 62    3480.0
 63    3100.0
 64    3000.0
 65    3120.0
 66    4040.0
 Name: 54, Length: 66, dtype: float64,
 1     6700.0
 2     7850.0
 3     7500.0
 4     6000.0
 5     5400.0
        ...
 62    5700.0
 63    7800.0
 64    6700.0
 65    6200.0
 66    3550.0
 Name: 55, Length: 66, dtype: float64,
 1     4100.0
 2     4250.0
 3     4200.0
 4     4200.0
 5     3750.0
        ...
 62    4000.0
 63    3450.0
 64    5450.0
 65    6650.0
 66    3050.0
 Name: 56, Length: 66, dtype: float64,
 1     5200.0
 2     2100.0
 3     4050.0
 4     2000.0
 5     3250.0
        ...
 62    1300.0
 63    2700.0
 64    3000.0
 65    1450.0
 66    1550.0
 Name: 57, Length: 66, dtype: float64,
 1     5600.0
 2     4900.0
 3     5200.0
 4     5100.0
 5     9200.0
        ...
 62    2100.0
 63    1800.0
 64    3700.0
 65    3100.0
 66    4800.0
 Name: 58, Length: 66, dtype: float64,
 1      4390.0
 2      8710.0
 3      7110.0
 4     10250.0
 5     10060.0
        ...
 62     1790.0
 63     3350.0
 64     4750.0
 65     1250.0
 66     1700.0
 Name: 59, Length: 66, dtype: float64,
 1     2340.0
 2     4105.0
 3     4450.0
 4     3470.0
 5     4320.0
        ...
 62    3470.0
 63    6375.0
 64    2710.0
 65    2485.0
 66    3155.0
 Name: 60, Length: 66, dtype: float64,
 1     4100.0
 2     5010.0
 3     6210.0
 4     6360.0
 5     5655.0
        ...
 62    3540.0
 63    4775.0
 64    6285.0
 65    3580.0
 66    3135.0
 Name: 61, Length: 66, dtype: float64,
 1     2000.0
 2     2000.0
 3     5200.0
 4     6800.0
 5     6480.0
        ...
 62    2920.0
 63    7320.0
 64    9400.0
 65    5560.0
 66    5420.0
 Name: 62, Length: 66, dtype: float64,
 1      400.0
 2     1000.0
 3     1400.0
 4     3800.0
 5     3410.0
        ...
 62    3020.0
 63    2420.0
 64    1750.0
 65    1600.0
 66    2460.0
 Name: 63, Length: 66, dtype: float64,
 1     3400.0
 2     6550.0
 3     3550.0
 4     4550.0
 5     3900.0
        ...
 62    4100.0
 63    3450.0
 64    3150.0
 65    2400.0
 66    3800.0
 Name: 64, Length: 66, dtype: float64,
 1     6875.0
 2     5115.0
 3     5805.0
 4     9535.0
 5     6630.0
        ...
 62    5880.0
 63    7515.0
 64    5210.0
 65    4350.0
 66    4080.0
 Name: 65, Length: 66, dtype: float64,
 1      9615.0
 2     10575.0
 3     11245.0
 4     16310.0
 5     17405.0
        ...
 62     7365.0
 63    12940.0
 64    10105.0
 65     6360.0
 66     8900.0
 Name: 66, Length: 66, dtype: float64,
 1      3430.0
 2      4280.0
 3      3480.0
 4     11670.0
 5      6240.0
        ...
 62     1580.0
 63     3730.0
 64     2480.0
 65     4450.0
 66     3060.0
 Name: 67, Length: 66, dtype: float64,
 1      9374.0
 2      9786.0
 3     10748.0
 4     11922.0
 5     10020.0
        ...
 62     8258.0
 63    10333.0
 64    12955.0
 65     9567.0
 66     9189.0
 Name: 68, Length: 66, dtype: float64,
 1     2800.0
 2     4800.0
 3     6000.0
 4     6820.0
 5     6360.0
        ...
 62    5170.0
 63    5370.0
 64    3460.0
 65    5800.0
 66    4590.0
 Name: 69, Length: 66, dtype: float64,
 1     6074.0
 2     6160.0
 3     5912.0
 4     5798.0
 5     5862.0
        ...
 62    5264.0
 63    6752.0
 64    6704.0
 65    6710.0
 66    7204.0
 Name: 70, Length: 66, dtype: float64,
 1      7700.0
 2      7650.0
 3      6900.0
 4      6600.0
 5      7400.0
        ...
 62     6900.0
 63     7100.0
 64     7650.0
 65     8150.0
 66    10600.0
 Name: 71, Length: 66, dtype: float64,
 1     3800.0
 2     6500.0
 3     5050.0
 4     7400.0
 5     3100.0
        ...
 62    2300.0
 63    5000.0
 64    1800.0
 65    4250.0
 66    2600.0
 Name: 72, Length: 66, dtype: float64,
 1     5520.0
 2     2760.0
 3     4140.0
 4     3180.0
 5     3420.0
        ...
 62    5160.0
 63    6360.0
 64    6060.0
 65    5340.0
 66    6840.0
 Name: 73, Length: 66, dtype: float64,
 1     3840.0
 2     4595.0
 3     3710.0
 4     3700.0
 5     2100.0
        ...
 62    1410.0
 63    1440.0
 64    1305.0
 65    1320.0
 66    1530.0
 Name: 74, Length: 66, dtype: float64,
 1     6740.0
 2     6058.0
 3     6684.0
 4     5692.0
 5     5472.0
        ...
 62    7298.0
 63    7572.0
 64    8604.0
 65    7656.0
 66    7716.0
 Name: 75, Length: 66, dtype: float64,
 1     3400.0
 2     2980.0
 3     2760.0
 4     3640.0
 5     4680.0
        ...
 62    7360.0
 63    8760.0
 64    8020.0
 65    8900.0
 66    9140.0
 Name: 76, Length: 66, dtype: float64,
 1     2850.0
 2     2950.0
 3     4000.0
 4     3400.0
 5     2200.0
        ...
 62    2600.0
 63    2600.0
 64    3550.0
 65    4350.0
 66    3400.0
 Name: 77, Length: 66, dtype: float64,
 1     3580.0
 2     2560.0
 3     3680.0
 4     4920.0
 5     3380.0
        ...
 62    2700.0
 63    3160.0
 64    3200.0
 65    3660.0
 66    3720.0
 Name: 78, Length: 66, dtype: float64,
 1     4120.0
 2     4000.0
 3     5360.0
 4     5240.0
 5     4240.0
        ...
 62    6400.0
 63    6740.0
 64    7560.0
 65    7820.0
 66    6200.0
 Name: 79, Length: 66, dtype: float64,
 1     4940.0
 2     4770.0
 3     5480.0
 4     5670.0
 5     5460.0
        ...
 62    4330.0
 63    4210.0
 64    4640.0
 65    4810.0
 66    4960.0
 Name: 80, Length: 66, dtype: float64,
 1     2600.0
 2     2380.0
 3     2700.0
 4     2980.0
 5     2520.0
        ...
 62    7880.0
 63    9020.0
 64    8980.0
 65    9170.0
 66    9480.0
 Name: 81, Length: 66, dtype: float64,
 1     4490.0
 2     5030.0
 3     5660.0
 4     4790.0
 5     5520.0
        ...
 62    5250.0
 63    5910.0
 64    6430.0
 65    5950.0
 66    5060.0
 Name: 82, Length: 66, dtype: float64,
 1     2570.0
 2     2030.0
 3     2690.0
 4     2250.0
 5     2160.0
        ...
 62    5760.0
 63    7780.0
 64    6830.0
 65    6870.0
 66    6340.0
 Name: 83, Length: 66, dtype: float64,
 1     1760.0
 2     1700.0
 3     2100.0
 4     2620.0
 5     5040.0
        ...
 62    5040.0
 63    5960.0
 64    6560.0
 65    5680.0
 66    5740.0
 Name: 84, Length: 66, dtype: float64,
 1      4480.0
 2      3700.0
 3      3800.0
 4      4100.0
 5      3980.0
        ...
 62     7960.0
 63    10320.0
 64    10740.0
 65     9440.0
 66     9300.0
 Name: 85, Length: 66, dtype: float64,
 1       600.0
 2      1450.0
 3      2550.0
 4      2350.0
 5      1450.0
        ...
 62    12700.0
 63    10500.0
 64    12300.0
 65    13350.0
 66    16500.0
 Name: 86, Length: 66, dtype: float64,
 1     3620.0
 2     3320.0
 3     3820.0
 4     4480.0
 5     4120.0
        ...
 62    7080.0
 63    8520.0
 64    9240.0
 65    8900.0
 66    8440.0
 Name: 87, Length: 66, dtype: float64,
 1     5660.0
 2     3440.0
 3     3360.0
 4     3500.0
 5     2700.0
        ...
 62    1740.0
 63    2340.0
 64    2100.0
 65    1260.0
 66    1560.0
 Name: 88, Length: 66, dtype: float64,
 1     4700.0
 2     5050.0
 3     4800.0
 4     3050.0
 5     5200.0
        ...
 62    1850.0
 63    2450.0
 64    3700.0
 65    1400.0
 66    2900.0
 Name: 89, Length: 66, dtype: float64,
 1     7250.0
 2     7000.0
 3     7800.0
 4     5800.0
 5     6500.0
        ...
 62    4000.0
 63    4550.0
 64    4850.0
 65    5300.0
 66    4750.0
 Name: 90, Length: 66, dtype: float64,
 1     4280.0
 2     3840.0
 3     3580.0
 4     3040.0
 5     3600.0
        ...
 62    2320.0
 63    2620.0
 64    3200.0
 65    2880.0
 66    3400.0
 Name: 91, Length: 66, dtype: float64,
 1     6300.0
 2     5460.0
 3     6380.0
 4     6520.0
 5     6000.0
        ...
 62    5440.0
 63    6400.0
 64    5880.0
 65    6380.0
 66    6320.0
 Name: 92, Length: 66, dtype: float64,
 1     4260.0
 2     3920.0
 3     4290.0
 4     3840.0
 5     4830.0
        ...
 62    4300.0
 63    4600.0
 64    4990.0
 65    4440.0
 66    4820.0
 Name: 93, Length: 66, dtype: float64,
 1     5740.0
 2     5360.0
 3     4990.0
 4     5330.0
 5     5210.0
        ...
 62    4850.0
 63    6770.0
 64    6460.0
 65    5650.0
 66    6140.0
 Name: 94, Length: 66, dtype: float64,
 1     4880.0
 2     4420.0
 3     4900.0
 4     4230.0
 5     3970.0
        ...
 62    4080.0
 63    5070.0
 64    4610.0
 65    4650.0
 66    5070.0
 Name: 95, Length: 66, dtype: float64,
 1     3770.0
 2     3380.0
 3     3930.0
 4     3350.0
 5     3610.0
        ...
 62    3480.0
 63    3160.0
 64    4070.0
 65    3420.0
 66    3810.0
 Name: 96, Length: 66, dtype: float64,
 1     4660.0
 2     4240.0
 3     4160.0
 4     3540.0
 5     4600.0
        ...
 62    3540.0
 63    4480.0
 64    4760.0
 65    4240.0
 66    4540.0
 Name: 97, Length: 66, dtype: float64,
 1     3320.0
 2     2480.0
 3     3200.0
 4     2980.0
 5     3880.0
        ...
 62    2480.0
 63    2720.0
 64    3040.0
 65    2540.0
 66    2660.0
 Name: 98, Length: 66, dtype: float64,
 1     8450.0
 2     7740.0
 3     7920.0
 4     7850.0
 5     7990.0
        ...
 62    4810.0
 63    4840.0
 64    5960.0
 65    4860.0
 66    5050.0
 Name: 99, Length: 66, dtype: float64,
 1     4458.0
 2     4818.0
 3     4358.0
 4     4252.0
 5     4412.0
        ...
 62    4004.0
 63    4820.0
 64    5032.0
 65    4562.0
 66    4774.0
 Name: 100, Length: 66, dtype: float64,
 1     6475.0
 2     6270.0
 3     6495.0
 4     6170.0
 5     6525.0
        ...
 62    4735.0
 63    4830.0
 64    5275.0
 65    5300.0
 66    4655.0
 Name: 101, Length: 66, dtype: float64,
 1     5150.0
 2     4550.0
 3     5150.0
 4     3850.0
 5     5350.0
        ...
 62    6200.0
 63    7750.0
 64    8150.0
 65    5700.0
 66    6850.0
 Name: 102, Length: 66, dtype: float64,
 1     5850.0
 2     5150.0
 3     5200.0
 4     6500.0
 5     6650.0
        ...
 62    4550.0
 63    7850.0
 64    5700.0
 65    6950.0
 66    6800.0

In [9]:
Y

[0     2640.0
 1     2160.0
 2     4200.0
 3     3360.0
 4     2400.0
        ...
 61    1680.0
 62    3720.0
 63    2160.0
 64     480.0
 65    2040.0
 Name: 0, Length: 66, dtype: float64,
 0     1920.0
 1      120.0
 2     1080.0
 3      840.0
 4     1440.0
        ...
 61     840.0
 62     600.0
 63    1320.0
 64    1320.0
 65    2280.0
 Name: 1, Length: 66, dtype: float64,
 0      720.0
 1     4860.0
 2     1200.0
 3     3150.0
 4     2130.0
        ...
 61    5190.0
 62    5910.0
 63    4800.0
 64    5640.0
 65    5790.0
 Name: 2, Length: 66, dtype: float64,
 0      940.0
 1     2040.0
 2      800.0
 3     1000.0
 4      520.0
        ...
 61    6600.0
 62    8100.0
 63    7760.0
 64    6940.0
 65    8020.0
 Name: 3, Length: 66, dtype: float64,
 0      1550.0
 1      4450.0
 2      3050.0
 3      3050.0
 4      2250.0
        ...
 61    10000.0
 62    10950.0
 63    10700.0
 64     8800.0
 65     7550.0
 Name: 4, Length: 66, dtype: float64,
 0     2850.0
 1     1350.0
 2     1500.0
 3     1950.0
 4     1950.0
        ...
 61    4050.0
 62    1650.0
 63    3150.0
 64     150.0
 65    3900.0
 Name: 5, Length: 66, dtype: float64,
 0     2400.0
 1     1950.0
 2     2250.0
 3     3000.0
 4     2400.0
        ...
 61    5850.0
 62    5100.0
 63    3450.0
 64    3600.0
 65    6000.0
 Name: 6, Length: 66, dtype: float64,
 0     3600.0
 1     1950.0
 2     4650.0
 3     3900.0
 4     3600.0
        ...
 61    4950.0
 62    1650.0
 63    4200.0
 64    2700.0
 65    4800.0
 Name: 7, Length: 66, dtype: float64,
 0     2600.0
 1     2460.0
 2     3860.0
 3     4640.0
 4     2200.0
        ...
 61    2820.0
 62    2280.0
 63    2740.0
 64    1140.0
 65    1900.0
 Name: 8, Length: 66, dtype: float64,
 0     5020.0
 1     3840.0
 2     5720.0
 3     4960.0
 4     1960.0
        ...
 61    3620.0
 62    3820.0
 63    4880.0
 64    2800.0
 65    3640.0
 Name: 9, Length: 66, dtype: float64,
 0     3540.0
 1     3260.0
 2     3460.0
 3     3000.0
 4     2140.0
        ...
 61    2400.0
 62    3420.0
 63    2980.0
 64    1780.0
 65    2800.0
 Name: 10, Length: 66, dtype: float64,
 0      1600.0
 1     12600.0
 2      5320.0
 3     10720.0
 4       800.0
        ...
 61     3540.0
 62     3540.0
 63      120.0
 64     2400.0
 65    14320.0
 Name: 11, Length: 66, dtype: float64,
 0     1700.0
 1     3950.0
 2     2700.0
 3     6650.0
 4     3700.0
        ...
 61    3000.0
 62    2250.0
 63    1650.0
 64    3800.0
 65    6850.0
 Name: 12, Length: 66, dtype: float64,
 0      4900.0
 1      5400.0
 2      4250.0
 3     10550.0
 4      4700.0
        ...
 61     5150.0
 62     4450.0
 63     7000.0
 64     2450.0
 65     9950.0
 Name: 13, Length: 66, dtype: float64,
 0     2020.0
 1     1780.0
 2     1720.0
 3     6380.0
 4     1320.0
        ...
 61    2460.0
 62    1680.0
 63    1340.0
 64     840.0
 65    1860.0
 Name: 14, Length: 66, dtype: float64,
 0      620.0
 1     2240.0
 2     1320.0
 3     5880.0
 4     1080.0
        ...
 61    1440.0
 62    1320.0
 63     800.0
 64     640.0
 65    1220.0
 Name: 15, Length: 66, dtype: float64,
 0      360.0
 1     1080.0
 2     1920.0
 3      120.0
 4     1080.0
        ...
 61    2040.0
 62    3240.0
 63    4600.0
 64    2520.0
 65    1800.0
 Name: 16, Length: 66, dtype: float64,
 0     1920.0
 1     2040.0
 2      840.0
 3     1920.0
 4     1080.0
        ...
 61    2280.0
 62    4080.0
 63    1680.0
 64    2400.0
 65    2880.0
 Name: 17, Length: 66, dtype: float64,
 0     3100.0
 1     5350.0
 2     3200.0
 3     4000.0
 4     5000.0
        ...
 62    2200.0
 63    2900.0
 64    3900.0
 65    3350.0
 66    1500.0
 Name: 18, Length: 67, dtype: float64,
 0     6400.0
 1     6950.0
 2     6050.0
 3     6950.0
 4     5650.0
        ...
 62    3200.0
 63    4450.0
 64    5350.0
 65    4050.0
 66    3000.0
 Name: 19, Length: 67, dtype: float64,
 0      7300.0
 1     11500.0
 2     10100.0
 3      7900.0
 4      8900.0
        ...
 62     2600.0
 63     6000.0
 64     5100.0
 65     4100.0
 66     2900.0
 Name: 20, Length: 67, dtype: float64,
 0     7300.0
 1     8100.0
 2     7000.0
 3     4800.0
 4     7900.0
        ...
 62    1900.0
 63    3700.0
 64    2600.0
 65    4100.0
 66    4300.0
 Name: 21, Length: 67, dtype: float64,
 0     4805.0
 1     4935.0
 2     3675.0
 3     3805.0
 4     5260.0
        ...
 62    2915.0
 63    3065.0
 64    3600.0
 65    3620.0
 66    2120.0
 Name: 22, Length: 67, dtype: float64,
 0     4800.0
 1     6750.0
 2     4600.0
 3     5750.0
 4     2350.0
        ...
 62     900.0
 63    2500.0
 64    2350.0
 65     850.0
 66    1150.0
 Name: 23, Length: 67, dtype: float64,
 0     4044.0
 1     2960.0
 2     3358.0
 3     4414.0
 4     4168.0
        ...
 62    3404.0
 63    3984.0
 64    3910.0
 65    3784.0
 66    3682.0
 Name: 24, Length: 67, dtype: float64,
 0     4500.0
 1     3900.0
 2     3550.0
 3     6700.0
 4     6850.0
        ...
 62     500.0
 63     850.0
 64    2550.0
 65    3950.0
 66    2850.0
 Name: 25, Length: 67, dtype: float64,
 0     4680.0
 1     2640.0
 2     2960.0
 3     4860.0
 4     5900.0
        ...
 62    2240.0
 63    3780.0
 64    3440.0
 65    2720.0
 66    2400.0
 Name: 26, Length: 67, dtype: float64,
 0     5440.0
 1     4900.0
 2     5900.0
 3     5500.0
 4     6760.0
        ...
 62    3520.0
 63    4280.0
 64    3660.0
 65    3880.0
 66    3300.0
 Name: 27, Length: 67, dtype: float64,
 0     2100.0
 1     1250.0
 2     2250.0
 3     5850.0
 4     4900.0
        ...
 62    6800.0
 63    6950.0
 64    8800.0
 65    6750.0
 66    6300.0
 Name: 28, Length: 67, dtype: float64,
 0      2800.0
 1       600.0
 2      2400.0
 3      4900.0
 4      3700.0
        ...
 62    11000.0
 63     8300.0
 64    12800.0
 65     6800.0
 66    13500.0
 Name: 29, Length: 67, dtype: float64,
 0      6500.0
 1      8000.0
 2     16100.0
 3      7600.0
 4     14100.0
        ...
 62     1600.0
 63     5300.0
 64     4200.0
 65     1900.0
 66     2200.0
 Name: 30, Length: 67, dtype: float64,
 0     13450.0
 1     10000.0
 2     14400.0
 3      6400.0
 4      8750.0
        ...
 62     1850.0
 63     2700.0
 64     4250.0
 65     1150.0
 66     1800.0
 Name: 31, Length: 67, dtype: float64,
 0     5620.0
 1     3820.0
 2     5260.0
 3     7760.0
 4     7220.0
        ...
 62    1540.0
 63    2640.0
 64    2400.0
 65    1400.0
 66    2500.0
 Name: 32, Length: 67, dtype: float64,
 0     3760.0
 1     3840.0
 2     4740.0
 3     6200.0
 4     2700.0
        ...
 62    1880.0
 63    2040.0
 64    2660.0
 65    1140.0
 66    1440.0
 Name: 33, Length: 67, dtype: float64,
 0     4000.0
 1     4800.0
 2     5750.0
 3     8750.0
 4     4400.0
        ...
 62    1350.0
 63    1750.0
 64    2300.0
 65     850.0
 66    2150.0
 Name: 34, Length: 67, dtype: float64,
 0     7400.0
 1     7650.0
 2     6200.0
 3     8000.0
 4     5550.0
        ...
 62    3100.0
 63    6100.0
 64    6800.0
 65    3600.0
 66    5550.0
 Name: 35, Length: 67, dtype: float64,
 0     5350.0
 1     6250.0
 2     5550.0
 3     7500.0
 4     5200.0
        ...
 62    2850.0
 63    3950.0
 64    5500.0
 65    4650.0
 66    2450.0
 Name: 36, Length: 67, dtype: float64,
 0     2550.0
 1     3950.0
 2     2350.0
 3     4600.0
 4     2600.0
        ...
 62    1200.0
 63    2050.0
 64    5200.0
 65    2350.0
 66    2150.0
 Name: 37, Length: 67, dtype: float64,
 0     4940.0
 1     4140.0
 2     6400.0
 3     5880.0
 4     5280.0
        ...
 62    4280.0
 63    4960.0
 64    5420.0
 65    5600.0
 66    6000.0
 Name: 38, Length: 67, dtype: float64,
 0     1850.0
 1     2400.0
 2     2100.0
 3     6050.0
 4     2100.0
        ...
 62    3750.0
 63    3300.0
 64    5600.0
 65    2600.0
 66    3300.0
 Name: 39, Length: 67, dtype: float64,
 0     5040.0
 1     3920.0
 2     7600.0
 3     8220.0
 4     5100.0
        ...
 62    4820.0
 63    5800.0
 64    6420.0
 65    4520.0
 66    4120.0
 Name: 40, Length: 67, dtype: float64,
 0     1850.0
 1     3900.0
 2     1900.0
 3     5150.0
 4     3350.0
        ...
 62    2050.0
 63    5500.0
 64    4650.0
 65    3550.0
 66    3600.0
 Name: 41, Length: 67, dtype: float64,
 0      6700.0
 1      7600.0
 2      5300.0
 3     11000.0
 4      9200.0
        ...
 62     3700.0
 63     7700.0
 64     8000.0
 65     9800.0
 66     6900.0
 Name: 42, Length: 67, dtype: float64,
 0     4800.0
 1     3500.0
 2     3850.0
 3     9100.0
 4     4400.0
        ...
 62    1750.0
 63    5250.0
 64    8650.0
 65    4400.0
 66    5950.0
 Name: 43, Length: 67, dtype: float64,
 0     5060.0
 1     4330.0
 2     4760.0
 3     3120.0
 4     4640.0
        ...
 62     920.0
 63    4130.0
 64    2880.0
 65     630.0
 66    1900.0
 Name: 44, Length: 67, dtype: float64,
 0     4365.0
 1     3165.0
 2     5255.0
 3     4650.0
 4     4345.0
        ...
 62    4620.0
 63    4225.0
 64    5320.0
 65    3695.0
 66    4630.0
 Name: 45, Length: 67, dtype: float64,
 0     3660.0
 1     3030.0
 2     4970.0
 3     4650.0
 4     5050.0
        ...
 62    1040.0
 63    2860.0
 64    1620.0
 65     970.0
 66     350.0
 Name: 46, Length: 67, dtype: float64,
 0     3835.0
 1     3495.0
 2     3735.0
 3     4800.0
 4     3735.0
        ...
 62    4545.0
 63    4590.0
 64    5335.0
 65    4855.0
 66    4365.0
 Name: 47, Length: 67, dtype: float64,
 0     2940.0
 1     4400.0
 2     3600.0
 3     6060.0
 4     4720.0
        ...
 62    2440.0
 63    2080.0
 64    2260.0
 65    1160.0
 66    2060.0
 Name: 48, Length: 67, dtype: float64,
 0     3200.0
 1     6780.0
 2     4660.0
 3     5400.0
 4     6320.0
        ...
 62    3260.0
 63    2980.0
 64    2720.0
 65    2680.0
 66    1720.0
 Name: 49, Length: 67, dtype: float64,
 0     4180.0
 1     5460.0
 2     5980.0
 3     6440.0
 4     5600.0
        ...
 62    5120.0
 63    3680.0
 64    4280.0
 65    5300.0
 66    4640.0
 Name: 50, Length: 67, dtype: float64,
 0     6020.0
 1     4640.0
 2     6160.0
 3     6980.0
 4     9100.0
        ...
 62    5440.0
 63    5940.0
 64    4840.0
 65    5120.0
 66    5380.0
 Name: 51, Length: 67, dtype: float64,
 0     2720.0
 1     2720.0
 2     4460.0
 3     4910.0
 4     3880.0
        ...
 62    3210.0
 63    3510.0
 64    5030.0
 65    3890.0
 66    3920.0
 Name: 52, Length: 67, dtype: float64,
 0     5100.0
 1     5320.0
 2     6160.0
 3     8520.0
 4     6980.0
        ...
 62    5440.0
 63    6440.0
 64    5340.0
 65    6680.0
 66    6140.0
 Name: 53, Length: 67, dtype: float64,
 0     1000.0
 1     1400.0
 2     1120.0
 3     2920.0
 4     2260.0
        ...
 62    3480.0
 63    3100.0
 64    3000.0
 65    3120.0
 66    4040.0
 Name: 54, Length: 67, dtype: float64,
 0     7550.0
 1     6700.0
 2     7850.0
 3     7500.0
 4     6000.0
        ...
 62    5700.0
 63    7800.0
 64    6700.0
 65    6200.0
 66    3550.0
 Name: 55, Length: 67, dtype: float64,
 0     4200.0
 1     4100.0
 2     4250.0
 3     4200.0
 4     4200.0
        ...
 62    4000.0
 63    3450.0
 64    5450.0
 65    6650.0
 66    3050.0
 Name: 56, Length: 67, dtype: float64,
 0     4000.0
 1     5200.0
 2     2100.0
 3     4050.0
 4     2000.0
        ...
 62    1300.0
 63    2700.0
 64    3000.0
 65    1450.0
 66    1550.0
 Name: 57, Length: 67, dtype: float64,
 0     4500.0
 1     5600.0
 2     4900.0
 3     5200.0
 4     5100.0
        ...
 62    2100.0
 63    1800.0
 64    3700.0
 65    3100.0
 66    4800.0
 Name: 58, Length: 67, dtype: float64,
 0      7270.0
 1      4390.0
 2      8710.0
 3      7110.0
 4     10250.0
        ...
 62     1790.0
 63     3350.0
 64     4750.0
 65     1250.0
 66     1700.0
 Name: 59, Length: 67, dtype: float64,
 0     3825.0
 1     2340.0
 2     4105.0
 3     4450.0
 4     3470.0
        ...
 62    3470.0
 63    6375.0
 64    2710.0
 65    2485.0
 66    3155.0
 Name: 60, Length: 67, dtype: float64,
 0     4885.0
 1     4100.0
 2     5010.0
 3     6210.0
 4     6360.0
        ...
 62    3540.0
 63    4775.0
 64    6285.0
 65    3580.0
 66    3135.0
 Name: 61, Length: 67, dtype: float64,
 0      800.0
 1     2000.0
 2     2000.0
 3     5200.0
 4     6800.0
        ...
 62    2920.0
 63    7320.0
 64    9400.0
 65    5560.0
 66    5420.0
 Name: 62, Length: 67, dtype: float64,
 0      400.0
 1      400.0
 2     1000.0
 3     1400.0
 4     3800.0
        ...
 62    3020.0
 63    2420.0
 64    1750.0
 65    1600.0
 66    2460.0
 Name: 63, Length: 67, dtype: float64,
 0     2600.0
 1     3400.0
 2     6550.0
 3     3550.0
 4     4550.0
        ...
 62    4100.0
 63    3450.0
 64    3150.0
 65    2400.0
 66    3800.0
 Name: 64, Length: 67, dtype: float64,
 0     4445.0
 1     6875.0
 2     5115.0
 3     5805.0
 4     9535.0
        ...
 62    5880.0
 63    7515.0
 64    5210.0
 65    4350.0
 66    4080.0
 Name: 65, Length: 67, dtype: float64,
 0      8445.0
 1      9615.0
 2     10575.0
 3     11245.0
 4     16310.0
        ...
 62     7365.0
 63    12940.0
 64    10105.0
 65     6360.0
 66     8900.0
 Name: 66, Length: 67, dtype: float64,
 0      3210.0
 1      3430.0
 2      4280.0
 3      3480.0
 4     11670.0
        ...
 62     1580.0
 63     3730.0
 64     2480.0
 65     4450.0
 66     3060.0
 Name: 67, Length: 67, dtype: float64,
 0      9249.0
 1      9374.0
 2      9786.0
 3     10748.0
 4     11922.0
        ...
 62     8258.0
 63    10333.0
 64    12955.0
 65     9567.0
 66     9189.0
 Name: 68, Length: 67, dtype: float64,
 0     6600.0
 1     2800.0
 2     4800.0
 3     6000.0
 4     6820.0
        ...
 62    5170.0
 63    5370.0
 64    3460.0
 65    5800.0
 66    4590.0
 Name: 69, Length: 67, dtype: float64,
 0     6052.0
 1     6074.0
 2     6160.0
 3     5912.0
 4     5798.0
        ...
 62    5264.0
 63    6752.0
 64    6704.0
 65    6710.0
 66    7204.0
 Name: 70, Length: 67, dtype: float64,
 0      7050.0
 1      7700.0
 2      7650.0
 3      6900.0
 4      6600.0
        ...
 62     6900.0
 63     7100.0
 64     7650.0
 65     8150.0
 66    10600.0
 Name: 71, Length: 67, dtype: float64,
 0     3200.0
 1     3800.0
 2     6500.0
 3     5050.0
 4     7400.0
        ...
 62    2300.0
 63    5000.0
 64    1800.0
 65    4250.0
 66    2600.0
 Name: 72, Length: 67, dtype: float64,
 0     2760.0
 1     5520.0
 2     2760.0
 3     4140.0
 4     3180.0
        ...
 62    5160.0
 63    6360.0
 64    6060.0
 65    5340.0
 66    6840.0
 Name: 73, Length: 67, dtype: float64,
 0     3740.0
 1     3840.0
 2     4595.0
 3     3710.0
 4     3700.0
        ...
 62    1410.0
 63    1440.0
 64    1305.0
 65    1320.0
 66    1530.0
 Name: 74, Length: 67, dtype: float64,
 0     6012.0
 1     6740.0
 2     6058.0
 3     6684.0
 4     5692.0
        ...
 62    7298.0
 63    7572.0
 64    8604.0
 65    7656.0
 66    7716.0
 Name: 75, Length: 67, dtype: float64,
 0     2420.0
 1     3400.0
 2     2980.0
 3     2760.0
 4     3640.0
        ...
 62    7360.0
 63    8760.0
 64    8020.0
 65    8900.0
 66    9140.0
 Name: 76, Length: 67, dtype: float64,
 0     3500.0
 1     2850.0
 2     2950.0
 3     4000.0
 4     3400.0
        ...
 62    2600.0
 63    2600.0
 64    3550.0
 65    4350.0
 66    3400.0
 Name: 77, Length: 67, dtype: float64,
 0     2680.0
 1     3580.0
 2     2560.0
 3     3680.0
 4     4920.0
        ...
 62    2700.0
 63    3160.0
 64    3200.0
 65    3660.0
 66    3720.0
 Name: 78, Length: 67, dtype: float64,
 0     3120.0
 1     4120.0
 2     4000.0
 3     5360.0
 4     5240.0
        ...
 62    6400.0
 63    6740.0
 64    7560.0
 65    7820.0
 66    6200.0
 Name: 79, Length: 67, dtype: float64,
 0     4370.0
 1     4940.0
 2     4770.0
 3     5480.0
 4     5670.0
        ...
 62    4330.0
 63    4210.0
 64    4640.0
 65    4810.0
 66    4960.0
 Name: 80, Length: 67, dtype: float64,
 0     2170.0
 1     2600.0
 2     2380.0
 3     2700.0
 4     2980.0
        ...
 62    7880.0
 63    9020.0
 64    8980.0
 65    9170.0
 66    9480.0
 Name: 81, Length: 67, dtype: float64,
 0     3940.0
 1     4490.0
 2     5030.0
 3     5660.0
 4     4790.0
        ...
 62    5250.0
 63    5910.0
 64    6430.0
 65    5950.0
 66    5060.0
 Name: 82, Length: 67, dtype: float64,
 0     1500.0
 1     2570.0
 2     2030.0
 3     2690.0
 4     2250.0
        ...
 62    5760.0
 63    7780.0
 64    6830.0
 65    6870.0
 66    6340.0
 Name: 83, Length: 67, dtype: float64,
 0     1480.0
 1     1760.0
 2     1700.0
 3     2100.0
 4     2620.0
        ...
 62    5040.0
 63    5960.0
 64    6560.0
 65    5680.0
 66    5740.0
 Name: 84, Length: 67, dtype: float64,
 0      2440.0
 1      4480.0
 2      3700.0
 3      3800.0
 4      4100.0
        ...
 62     7960.0
 63    10320.0
 64    10740.0
 65     9440.0
 66     9300.0
 Name: 85, Length: 67, dtype: float64,
 0       300.0
 1       600.0
 2      1450.0
 3      2550.0
 4      2350.0
        ...
 62    12700.0
 63    10500.0
 64    12300.0
 65    13350.0
 66    16500.0
 Name: 86, Length: 67, dtype: float64,
 0     2880.0
 1     3620.0
 2     3320.0
 3     3820.0
 4     4480.0
        ...
 62    7080.0
 63    8520.0
 64    9240.0
 65    8900.0
 66    8440.0
 Name: 87, Length: 67, dtype: float64,
 0     3360.0
 1     5660.0
 2     3440.0
 3     3360.0
 4     3500.0
        ...
 62    1740.0
 63    2340.0
 64    2100.0
 65    1260.0
 66    1560.0
 Name: 88, Length: 67, dtype: float64,
 0     4050.0
 1     4700.0
 2     5050.0
 3     4800.0
 4     3050.0
        ...
 62    1850.0
 63    2450.0
 64    3700.0
 65    1400.0
 66    2900.0
 Name: 89, Length: 67, dtype: float64,
 0     5750.0
 1     7250.0
 2     7000.0
 3     7800.0
 4     5800.0
        ...
 62    4000.0
 63    4550.0
 64    4850.0
 65    5300.0
 66    4750.0
 Name: 90, Length: 67, dtype: float64,
 0     3380.0
 1     4280.0
 2     3840.0
 3     3580.0
 4     3040.0
        ...
 62    2320.0
 63    2620.0
 64    3200.0
 65    2880.0
 66    3400.0
 Name: 91, Length: 67, dtype: float64,
 0     5420.0
 1     6300.0
 2     5460.0
 3     6380.0
 4     6520.0
        ...
 62    5440.0
 63    6400.0
 64    5880.0
 65    6380.0
 66    6320.0
 Name: 92, Length: 67, dtype: float64,
 0     3690.0
 1     4260.0
 2     3920.0
 3     4290.0
 4     3840.0
        ...
 62    4300.0
 63    4600.0
 64    4990.0
 65    4440.0
 66    4820.0
 Name: 93, Length: 67, dtype: float64,
 0     4770.0
 1     5740.0
 2     5360.0
 3     4990.0
 4     5330.0
        ...
 62    4850.0
 63    6770.0
 64    6460.0
 65    5650.0
 66    6140.0
 Name: 94, Length: 67, dtype: float64,
 0     3860.0
 1     4880.0
 2     4420.0
 3     4900.0
 4     4230.0
        ...
 62    4080.0
 63    5070.0
 64    4610.0
 65    4650.0
 66    5070.0
 Name: 95, Length: 67, dtype: float64,
 0     3150.0
 1     3770.0
 2     3380.0
 3     3930.0
 4     3350.0
        ...
 62    3480.0
 63    3160.0
 64    4070.0
 65    3420.0
 66    3810.0
 Name: 96, Length: 67, dtype: float64,
 0     4080.0
 1     4660.0
 2     4240.0
 3     4160.0
 4     3540.0
        ...
 62    3540.0
 63    4480.0
 64    4760.0
 65    4240.0
 66    4540.0
 Name: 97, Length: 67, dtype: float64,
 0     2460.0
 1     3320.0
 2     2480.0
 3     3200.0
 4     2980.0
        ...
 62    2480.0
 63    2720.0
 64    3040.0
 65    2540.0
 66    2660.0
 Name: 98, Length: 67, dtype: float64,
 0     8020.0
 1     8450.0
 2     7740.0
 3     7920.0
 4     7850.0
        ...
 62    4810.0
 63    4840.0
 64    5960.0
 65    4860.0
 66    5050.0
 Name: 99, Length: 67, dtype: float64,
 0     3896.0
 1     4458.0
 2     4818.0
 3     4358.0
 4     4252.0
        ...
 62    4004.0
 63    4820.0
 64    5032.0
 65    4562.0
 66    4774.0
 Name: 100, Length: 67, dtype: float64,
 0     5710.0
 1     6475.0
 2     6270.0
 3     6495.0
 4     6170.0
        ...
 62    4735.0
 63    4830.0
 64    5275.0
 65    5300.0
 66    4655.0
 Name: 101, Length: 67, dtype: float64,
 0     5150.0
 1     5150.0
 2     4550.0
 3     5150.0
 4     3850.0
        ...
 62    6200.0
 63    7750.0
 64    8150.0
 65    5700.0
 66    6850.0
 Name: 102, Length: 67, dtype: float64,
 0     5250.0
 1     5850.0
 2     5150.0
 3     5200.0
 4     6500.0
        ...
 62    4550.0
 63    7850.0
 64    5700.0
 65    6950.0
 66    6800.0

In [6]:
Y_protected = apply_data_protection(Y, epsilon=1)

***

## Step 3: Pre-process the data.

In [7]:
Y_processed, Y_last_window, Y_last_window_trend, _, full_lags  = pre_process(ts_data=Y, 
                                                                  target_forecast_period=h,
                                                                  log=True, 
                                                                  make_stationary=True, 
                                                                  sp=12)

Y_protected_processed, Y_protected_last_window, Y_protected_last_window_trend, _, full_lags_protected = pre_process(ts_data=Y_protected, 
                                                                                               target_forecast_period=h,
                                                                                               log=True,  
                                                                                               make_stationary=True, 
                                                                                               sp=12)

***

In [8]:
# forecasts_original = post_process(full_ts_data=Y, 
#                                   forecasts=Y_processed, 
#                                   target_forecast_period=h,
#                                   full_lags=full_lags,
#                                   log=True,
#                                   make_stationary=True,
#                                   sp=12)

***

***

## Step 4: Train Models and Generate Forecasts

In [9]:
# param_grid = {"maxlags": [10, 15, 20, 25, 30, 35, 40], "trend": ["c", "ct", "ctt", "n"]}
# param_grid = {"maxlags": [10, 25, 40], "trend": ["c", "n"]}

In [10]:
forecasts_original = train_and_forecast(ts_data=Y_processed,
                                        horizon_length=h,
                                        forecasting_model="VAR")

forecasts_protected = train_and_forecast(ts_data=Y_protected_processed,
                                         horizon_length=h,
                                         forecasting_model="VAR")

***

## Post Process the Forecasts

In [11]:
forecasts_original = post_process(full_ts_data=Y, 
                                  forecasts=forecasts_original, 
                                  target_forecast_period=h,
                                  log=True,
                                  make_stationary=True,
                                  sp=12,
                                  full_lags=full_lags)

forecasts_protected = post_process(full_ts_data=Y_protected, 
                                   forecasts=forecasts_protected, 
                                   target_forecast_period=h,
                                   log=True,
                                   make_stationary=False,
                                   sp=12,
                                   full_lags=full_lags_protected)

In [12]:
forecasts_original

,0,1,2,3,4,5,6,7,8,9,...,464,465,466,467,468,469,470,471,472,473
0,798.107469,3154.080207,4369.97244,6368.258517,8996.215254,328.838628,2804.273732,2649.00548,2617.154035,4247.259117,...,2403.334645,3822.946249,5070.454238,7166.416515,4839.675524,8002.019398,5174.22819,4054.280824,8233.050653,2685.604593

In [13]:
forecasts_protected

,0,1,2,3,4,5,6,7,8,9,...,464,465,466,467,468,469,470,471,472,473
0,224.496251,69.291683,669.906393,144.206388,495.973634,491.635122,83.945809,2428.250298,52.314552,403.605092,...,301.449377,11232.002376,565.822681,9973.00331,3325.556729,3151.765838,5245.194967,1853.321809,8138.153155,296.740819

In [14]:
Test = pd.DataFrame([x.reset_index(drop=True) for x in Test]).T

In [15]:
mean_absolute_error(Test, forecasts_original)

753.1416838746653

In [16]:
mean_absolute_error(Test, forecasts_protected)

2839.318499290283

***