## Updated Code for Implementing VAR Model

We are going to extract time series features and cluster series based on their feature values. We use the bisection k-means algorithm as it tends to produce clusters of similar size, and we can specify the number of clusters prior. E.g., we can pick a cluster number that leads to VAR models that are estimatable.

In [1]:
# load modules
import numpy as np
import pandas as pd
import pmdarima as pm
import statsmodels.api as sm
from sktime.transformations.series.difference import Differencer
from sktime.performance_metrics.forecasting import mean_absolute_error, MeanAbsoluteError
from sktime.forecasting.var import VAR
from data_protection_functions import *
from data_processing_functions import *
from forecasting_functions import *
# nice time series plots
from sktime.utils.plotting import plot_series
from sktime.forecasting.model_selection import ForecastingGridSearchCV, ExpandingWindowSplitter, SlidingWindowSplitter
from sktime.forecasting.compose import TransformedTargetForecaster

In [2]:
# import weekly finance time series
# ignore header and skip the first row to use integers as column names
full_data = pd.read_csv("../../Data/Train/Clean/full_m3_monthly_micro_clean.csv", header=None, skiprows=1)

In [3]:
# convert to a list of series, potentially with different lengths
full_data = [x.dropna() for _, x in full_data.iterrows()]

***

In [4]:
# forecast horizon
h = 1

In [5]:
Y = [x.iloc[:-h] for x in full_data]
Test = [x.iloc[-h:] for x in full_data]

In [6]:
Test = pd.DataFrame([x.reset_index(drop=True) for x in Test]).T

***

Apply clustering to each length of series.

Import the original time series features.

In [7]:
feats = pd.read_csv("../../Data/Train/Clean/tsfeatures/tsfeatures_h1.csv")

In [8]:
feats = feats.drop(["nperiods", "seasonal_period", "spike", "linearity", "curvature", "e_acf10",
                    "peak", "trough"], axis=1)

In [9]:
series_lengths = [len(y) for y in Y]

In [10]:
unique_lengths = np.unique(series_lengths)

In [76]:
length = unique_lengths[1]

In [77]:
tsd = [Y[i] for i,l in enumerate(series_lengths) if l == length]
tsi = [i for i,l in enumerate(series_lengths) if l == length]

In [78]:
f = feats.iloc[tsi]

In [79]:
from sklearn.preprocessing import StandardScaler

In [80]:
scaler = StandardScaler()

In [81]:
f_scaled = scaler.fit_transform(f)

In [82]:
from sklearn.cluster import BisectingKMeans

In [96]:
bisect_means = BisectingKMeans(n_clusters=int(np.ceil(len(tsd)/8)), n_init=20, bisecting_strategy="largest_cluster").fit(f_scaled)

C:\Users\Cameron\anaconda3\lib\site-packages\sklearn\cluster\_bisect_k_means.py:259: UserWarning: BisectingKMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=2.
  warnings.warn(

In [97]:
cluster_ids, counts = np.unique(bisect_means.labels_, return_counts=True)

In [98]:
np.sum(counts==1)

1

So now we have the cluster assignments for the series. Apply differencing and forecast for each cluster.

In [210]:
ids = [i for i,j in enumerate(bisect_means.labels_) if j == cluster_ids[2]]

In [211]:
series = [tsd[i] for i,j in enumerate(bisect_means.labels_) if j == cluster_ids[2]]

***

## Step 2: Apply Data Protection to Generate Protected Series

In [212]:
Y_protected = apply_data_protection(Y, epsilon=20)

***

## Step 3: Pre-process the data.

In [213]:
Y_processed, _, _, _  = pre_process(ts_data=series, 
                                    target_forecast_period=h,
                                    log=True, 
                                    make_stationary=True)

# Y_protected_processed, Y_protected_last_window, Y_protected_last_window_trend, _, full_lags_protected = pre_process(ts_data=Y_protected, 
#                                                                                                target_forecast_period=h,
#                                                                                                log=True,  
#                                                                                                make_stationary=True, 
#                                                                                                sp=12)

***

In [214]:
# forecasts_original = post_process(full_ts_data=series, 
#                                   forecasts=Y_processed, 
#                                   target_forecast_period=h,
#                                   log=True,
#                                   make_stationary=True)

***

***

## Step 4: Train Models and Generate Forecasts

In [215]:
from statsmodels.tsa.vector_ar.var_model import VAR

In [216]:
D = pd.concat(Y_processed, axis=1, ignore_index=True)

In [217]:
var_mod = VAR(D)

In [218]:
var_results = var_mod.fit(ic='bic', trend='c')

In [219]:
var_results.summary()

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Wed, 12, Oct, 2022
Time:                     14:42:53
--------------------------------------------------------------------
No. of Equations:         11.0000    BIC:                   -24.2628
Nobs:                     66.0000    HQIC:                  -24.4835
Log likelihood:          -206.434    FPE:                2.01519e-11
AIC:                     -24.6277    Det(Omega_mle):     1.70796e-11
--------------------------------------------------------------------
Results for equation 0
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        -0.010119         0.038810           -0.261           0.794
========================================================================

Results for equation 1
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        -0.007574         0.042415           -0.179           0.858
========================================================================

Results for equation 2
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        -0.012273         0.045449           -0.270           0.787
========================================================================

Results for equation 3
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        -0.014542         0.049077           -0.296           0.767
========================================================================

Results for equation 4
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        -0.009406         0.066565           -0.141           0.888
========================================================================

Results for equation 5
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        -0.013543         0.040421           -0.335           0.738
========================================================================

Results for equation 6
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        -0.006640         0.035219           -0.189           0.850
========================================================================

Results for equation 7
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        -0.011746         0.042891           -0.274           0.784
========================================================================

Results for equation 8
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        -0.007194         0.034557           -0.208           0.835
========================================================================

Results for equation 9
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        -0.008711         0.060239           -0.145           0.885
========================================================================

Results for equation 10
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        -0.006824         0.059888           -0.114           0.909
========================================================================

Correlation matrix of residuals
             0         1         2         3         4         5         6         7         8         9        10
0     1.000000  0.361942  0.382321  0.234527  0.017516  0.329740 -0.100822 -0.048964  0.177581 -0.061426  0.236641
1     0.361942  1.000000  0.242718  0.261311  0.081164  0.341184  0.327671  0.118553  0.399276  0.317237  0.324271
2     0.382321  0.242718  1.000000  0.393768  0.358301  0.418578  0.014296  0.099876  0.107454  0.081314  0.142251
3     0.234527  0.261311  0.393768  1.000000  0.413562  0.268090 -0.002541  0.075288  0.164831  0.196922  0.152751
4     0.017516  0.081164  0.358301  0.413562  1.000000  0.146615  0.208458  0.465272  0.148460  0.120164  0.030321
5     0.329740  0.341184  0.418578  0.268090  0.146615  1.000000  0.036004  0.177762  0.212809  0.142982  0.312253
6    -0.100822  0.327671  0.014296 -0.002541  0.208458  0.036004  1.000000  0.349677  0.107337  0.190904 -0.029911
7    -0.048964  0.118553  0.099876  0.075288  0.465272  0.177762  0.349677  1.000000  0.306754  0.324116  0.262014
8     0.177581  0.399276  0.107454  0.164831  0.148460  0.212809  0.107337  0.306754  1.000000  0.420374  0.291803
9    -0.061426  0.317237  0.081314  0.196922  0.120164  0.142982  0.190904  0.324116  0.420374  1.000000  0.592109
10    0.236641  0.324271  0.142251  0.152751  0.030321  0.312253 -0.029911  0.262014  0.291803  0.592109  1.000000

In [220]:
pd.concat([pd.DataFrame(var_results.coefs[:,:,i]) for i in range(var_results.coefs.shape[2])], axis=1)

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, ...]
Index: []

[0 rows x 121 columns]

In [174]:
intercepts = var_results.coefs_exog

In [175]:
lag_order = var_results.k_ar

In [176]:
if lag_order == 0:
    fcasts = np.repeat(intercepts, h, axis=1).T
else:
    fcasts = var_results.forecast(D.values[-lag_order:], h)

In [177]:
fcasts

array([[-0.01011863, -0.00757358, -0.01227335, -0.01454206, -0.00940646,
        -0.0135427 , -0.00664023, -0.01174647, -0.00719372, -0.00871082,
        -0.00682449]])

In [178]:
fcasts = [pd.Series(fcasts[:,i]) for i in range(len(Y_processed))]

In [180]:
fcast_indexes = [np.arange(series[i].index[-1]+1, series[i].index[-1]+h+1) for i in range(len(series))]

In [181]:
for i,f in enumerate(fcasts):
    f.index = fcast_indexes[i]

In [182]:
# forecasts_original = train_and_forecast(ts_data=Y_processed,
#                                         horizon_length=h,
#                                         forecasting_model="VAR")

# forecasts_protected = train_and_forecast(ts_data=Y_protected_processed,
#                                          horizon_length=h,
#                                          forecasting_model="VAR")

***

## Post Process the Forecasts

In [183]:
forecasts_original = post_process(full_ts_data=series, 
                                  forecasts=fcasts, 
                                  target_forecast_period=h,
                                  log=True,
                                  make_stationary=True)

# forecasts_protected = post_process(full_ts_data=Y_protected, 
#                                    forecasts=forecasts_protected, 
#                                    target_forecast_period=h,
#                                    log=True,
#                                    make_stationary=False,
#                                    sp=12,
#                                    full_lags=full_lags_protected)

In [184]:
forecasts_original

,0,1,2,3,4,5,6,7,8,9,10
0,2375.837746,3275.101575,2469.504157,1419.21096,2129.870926,1509.41935,1986.763543,2194.075406,3365.700786,2755.889074,2304.221081

In [185]:
Test.iloc[:,ids]

,8,9,14,15,16,56,155,169,179,184,186
0,4240.0,4100.0,1360.0,1180.0,1560.0,3650.0,4400.0,6650.0,2440.0,1320.0,2300.0

In [186]:
mean_absolute_error(Test.iloc[:,ids], forecasts_original)

1453.0181241237158

***